
* {
   margin: 0;
   padding: 0;
   font-weight:400;
}

body {
   font-family:"Open Sans", "proxima-nova", "Helvetica Neue", Helvetica, arial, sans-serif;
   background-color:#c32f34;
   color:#FFFFFF;
}

h1{
   font-size:5em;
   font-weight:300;
}

.persian:hover{

}

h2{
   font-size:1.2em;
}

.persian {
   font-family: 'Iranian Sans', tahoma, verdana;
}

a {
   color:white;
   text-decoration:none;
   padding:5px;
}
.container{
   padding-top:15%;
   padding-left:auto;
   padding-right:auto;
   text-align:center;
}
